<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UPLOAD</title>
</head>
<body>

<div class="container">

    <form action="/products/upload" method="post">
        <p>
            <label for="productname">상품명</label>
            <input type="text" id="productname" name="productname">
        </p>
        <p>
            <label for="productqty">상품수량</label>
            <input type="text" id="productqty" name="productqty">
        </p>

        <button type="submit" id="submit">UPLOAD</button>

    </form>

</div>

</body>
</html>