<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<body>

<div class="container">

    <div>
        <table>
            <thead>

            <tr>
                <th>#</th>
                <th>상품명 </th>
                <th>상품개수</th>
            </tr>

            </thead>

            <tbody>

            <form action="/products/wishList" method="post" id="wish-form">

                <tr th:each="product : ${products}">

                    <td th:text="${product.id}"></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.qty}"></td>


                    <td><input type="checkbox" id="chk" name="chk" th:value="${product.name}"></td>

                </tr>

                <tr>
                    <td> <button type="submit" name="submit" id="submit">add wish list</button> </td>
                </tr>

            </form>


            </tbody>
        </table>
    </div>

</div>
<!--$.ajax({-->
<!--url : "/products/list",-->
<!--type : 'post',-->
<!--data : {-->
<!--name : $('input[name=chk]').val(),-->
<!--message : ""-->
<!--},-->
<!--success : function(data) {-->

<!--},-->
<!--error : function() {-->
<!--alert("error");-->
<!--}-->
<!--});-->
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script>


    $(function(){
      $('#submit').click(function(){
        var val = [];
        $(':checkbox:checked').each(function(i){
          val[i] = $(this).val();
          document.write(val[i]+<hr>)
          alert(val[i])
        });
      });
    });




</script>

</body>
</html>