<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JOIN</title>
</head>
<body>

<div class="container">

    <h3>join</h3>

    <form action="/members/join" method="post">
        <p>
            <input type="checkbox" id="chkseller" name="chkseller">Seller
            <input type="checkbox" id="chkbuyer" name="chkbuyer">Buyer
        </p>

        <p>
            <label for="email" class="join-form">email</label>
            <input type="text" id="email" name="email">
        </p>
        <p>
            <label for="password" class="join-form">password</label>
            <input type="text" id="password" name="password">
        </p>
        <p>
            <button type="submit" id="btnJoin">join</button>
        </p>

    </form>

</div>

</body>
</html>