<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<body>

<div class="container">
    <h4 class="mb-3" th:text="|로그인 사용자 이름: ${member.email}|">cart | </h4>
    <div>
        <table>
            <thead>

            <tr>
                <th>#</th>
                <!--                <th>상품명 </th>-->
                <!--                <th>상품개수</th>-->
            </tr>

            </thead>

            <tbody>
            <tr th:each="cart : ${carts}">

                <td th:text="${cart.memberid}"></td>
                <td th:text="${cart.proudctid}"></td>
                <td th:text="${cart.cartqty}"></td>
                <!--                <td th:text="${product.name}"></td>-->
                <!--                <td th:text="${product.qty}"></td>-->

            </tr>

            </tbody>
        </table>
    </div>

</div>

</body>
</html>