<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<body>

<div class="container">

    <div>
        <table>
            <thead>

            <tr>
                <th>id</th>
                <th>product </th>
                <th>qty</th>
                <th>create-date</th>
                <td></td><td></td>
                <th>update-date</th>
            </tr>

            </thead>

            <input type="button" name="sort" id="sort" value="sort">


            <tbody>

            <form method="post" id="wish-form" action="/products/cart">

                <tr th:each="product : ${products}">

                    <td th:text="${product.id}"></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.qty}"></td>
                    <td th:text="${product.createdate}"></td>
                    <td></td><td></td>
                    <td th:text="${product.updatedate}"></td>
                    <td></td>

                    <td><input type="checkbox" id="chk" name="chk" th:value="${product.id}" th:filed="*{chk}"></td>
                    <input type="hidden" name="pid"  th:value="${product.id}">
                </tr>

                <tr>
                    <td> <button type="submit" name="submit" id="submit">add wish list</button> </td>
                </tr>

            </form>




            </tbody>
        </table>
    </div>

</div>



</body>
</html>