<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SEARCH</title>
    <head>
        <style>
table {
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}
</style>
    </head>
</head>
<body>

<div class="container">
<h3>find product</h3>
    <form action="/products/search" method="post">

        <label for="name" class="find-name">name</label>
        <input type="text" id="name" name="name">
<!--        <label for="qty" class="find-name">name</label>-->
<!--        <input type="text" id="qty" name="qty">-->

        <button type="submit">find</button>


        <table>

            <thead>
            <tr>
                <th>user id</th>
                <th>product id</th>
                <th>product</th>
                <th>qty</th>
                <th>create-date</th>
                <th>update-date</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="product : ${findNameLike}">
                <td th:text="${product.userid}"></td>
                <td th:text="${product.id}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.qty}"></td>
                <td th:text="${product.createdate}"></td>
                <td th:text="${product.updatedate}"></td>
                <td></td>

            </tr>
            </tbody>

        </table>

    </form>


</div>

</body>
</html>