<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">

    <form action="/members/join" method="post">

        <div class="group-form">

            <label for="email" class="join-form">email</label>
            <input type="text" id="email" name="email">

            <label for="password" class="join-form">password</label>
            <input type="text" id="password" name="password">
        </div>

        <button type="submit">join</button>

    </form>

</div>

</body>
</html>