<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<body>

<div class="container">

    <form action="/product/search" method="post">
        <div class="form-group">
            <label for="productName" >상품명</label>
            <input type="text" id="productName" name="productName" placeholder="상품명 입력하세요">

        </div>

        <button type="submit" class="btn btn-primary">검색</button>
    </form>
    <div>
        <table>
            <thead>

            <tr>
                <th>#</th>
                <th>상품명 </th>
            </tr>

            </thead>

            <tbody>
            <tr th:each="product : ${product}">

                <td th:text="${product.id}"></td>
                <td th:text="${product.productName}"></td>
            </tr>

            </tbody>
        </table>
    </div>

</div>

</body>
</html>